html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 1rem 'Raleway SemiBold', sans-serif;
  letter-spacing: .125em;
  text-transform: uppercase;
  color: var(--dark);
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, p,
figure,
blockquote {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}